.curator {

    &__container {
        width: 100%;
        background-color: var(--lightGreen);
        border-radius: 1rem;
        padding-left: 12rem;

        margin: 6rem 0;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
    }

    &__photo {
        border: 1px solid var(--lightGrey);
        border-radius: 50%;

        width: 100px;
        height: 100px;
        overflow: hidden;

        margin: 1rem 5rem;
    }

    &__details {
        width: 40%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        margin: 1rem 0;

        div {
            display: flex;
            align-items: flex-end;
            margin-bottom: 1rem;

            h3 {
                font-size: 2rem;
                line-height: 2rem;
                margin: 0;
            }
    
            h6 {
                color: var(--darkGrey);
                font-size: 1.2rem;
                line-height: 1.3rem;
                margin: 0 1rem;
            }
        }

        p {
            width: 100%;
            font-size: 1.5rem;
        }
    }
}