.home{
    &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__pills {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 4rem 0;
    }

    &__col {
        width: 50%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 3.6rem;
        line-height: 4.2rem;
        margin-top: 2.5rem;
        margin-bottom: 4rem;
    }

    &__text {
        font-size: 2.5rem;
        line-height: 3rem;
        font-weight: 100;
        margin-bottom: 1rem;
    }

    &__imagem{
        text-align: center;
        img {
            width: 80%;
        }
    }
}