:root {
    --black: #454545;
    --lightBlue: #D0EEF0;
    --lightGreen: rgba(0, 182, 193, 0.5);
    --green: #00B6C1;
    --blue: #0036C1;
    --lightGrey: #BFBFC0;
    --darkGrey: #666666;
    --white: #fff;
}
