.pills {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;

        padding-left: 2rem;
        padding-right: 2rem;

        height: 2.9rem;
        width: max-content;
        border-radius: 2rem;
        margin-right: .5rem;
        margin-bottom: .5rem;
        font-size: 1.7rem;
        font-weight: 400;

        cursor: pointer;

        color: var(--white);
        background-color: var(--green);

        &--active {
            background-color: var(--lightGrey);
        }
    }
}